/**
	Cator 5000 app
*/

/**
 * Table of Contents
 * 1.0 - Reset CSS
 * 2.0 - Variables
 	* 2.1 - Colors
 	* 2.2 - Fonts
 * 3.0 - General
 * 4.0 - Buttons
 * 5.0 - Design

 	

 * 6.0 - Responsive
 	* 6.1 - Mobile
 	* 6.2 - Tablet
 	* 6.3 - Desktop

 */


/* =====================
   1.0 Reset css
   ===================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #E6E7E8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

textarea {
	resize: none;
}

img{
	max-width: 100%;
}

html p, 
html span {

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* =====================
   2.0 Variables
   ===================== */

/* 2.1 Colors
------------------------
*/   

$white: #000;
$magenta: #D1499A;
$yellow: #FED402;
$orange: #F15532;


/* 2.2 Fonts
------------------------
*/   

$sserif: sans-serif;
$oswald: 'Oswald', sans-serif;
$fatcat: 'fatcatregular', sans-serif;

$regsize: 1rem;
$smsize: 0.9rem;
$lsize: 1.2rem;
$bigsize: 1.7rem;
$xlsize: 2.5rem;
$hugesize: 4rem;


/* =====================
   3.0 General
   ===================== */

html {
	background-color: $magenta;
	font-size: 16px;
	font-family: $sserif;
}

.d-none {
	display: none!important;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.d-grid {
	display: -ms-grid;
	display: grid;
}

main {
	background-color: $magenta;
	padding: 15px;
}


/* =====================
   4.0 Buttons
   ===================== */

.btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid;
    font-size: $smsize;
    text-transform: uppercase;
    font-weight: 400;
    font-family: $oswald;
    outline: none;
    cursor: pointer; 

	&:hover {
		opacity: .7;
		cursor: pointer;
	}

	&.btn-pr {
		background-color: $yellow;
		border-color: $yellow;
		color: $magenta;
	}

	&.btn-sc {
		background-color: transparent;
		border-color: $yellow;
		color: $yellow;
	}
}




/* =====================
   4.0 Design
   ===================== */   

h1 {
	font-family: $fatcat;
	font-size: $hugesize;
	color: $yellow;
}

.catos-exp {
	margin-bottom: 15px;
	p {
		margin: 5px 0;
		font-size: $regsize;
		color: $yellow;
		font-weight: 300;
	}
}

.total-catos, .no-catos-msg {
	display: inline-block;
	font-size: $bigsize;
	color: $yellow;
	text-transform: uppercase;
	font-weight: 300;
	background-color: $orange;

	.catos-qty {
		font-family: $fatcat;
		font-size: $xlsize;
	}
}

.catos-list {

	margin: 25px 0;

	.cato-container {
		padding: 25px;
		align-items: center;
		cursor: move; /* fallback if grab cursor is unsupported */
	    cursor: grab;
	    cursor: -moz-grab;
	    cursor: -webkit-grab;
		
		.cato-photo {
			width: 150px;
		}

		.info-container {
			margin-left: 25px;

			h2 {
				margin-bottom: 5px;
				font-family: $fatcat;
				font-size: $bigsize;
			}
			
			p {
				margin-bottom: 15px;
				font-size: $regsize;
				color: $yellow;
				font-family: $oswald;
				font-size: $lsize;
			}

			.btn {
				margin-right: 15px;
			}
		}

		&:nth-of-type(odd) {
			background-color: $yellow;

			h2, p {
				color: $magenta;
			}

			.btn-pr {
				background-color: $magenta;
				border-color: $magenta;
				color: $yellow;
			}

			.btn-sc {
				background-color: transparent;
				border-color: $magenta;
				color: $magenta;
			}

			.cato-edit-container {
				input,
				textarea {
					color: $magenta;
					border-color: $magenta;
					outline-color: $magenta;
				}
				.edit-error {
					background-color: $magenta;
					color: $yellow;
				}
			}
		}

		&:nth-of-type(even) {
			background-color: $magenta;

			h2, p {
				color: $yellow;
			}
			
			.cato-edit-container {
				input,
				textarea {
					color: $yellow;
					border-color: $yellow;
					outline-color: $yellow;
				}
				.edit-error {
					background-color: $yellow;
					color: $magenta;
				}
			}
		}

		&:active {
			cursor: grabbing;
		    cursor: -moz-grabbing;
		    cursor: -webkit-grabbing;
		}

		.cato-edit-container {
			margin: 15px 0;
			input,
			textarea {
				display: block;
				margin-bottom: 15px;
				padding: 5px;
				display: block;
				width: 320px;
				background-color: transparent;
				font-size: $regsize;
				font-family: $oswald;
				border: 2px solid;
			}
			.btn {
				display: inline-block;
				&.btn-pr {
					display: block;
					margin-top: 15px;
				}
			}
			img {
				display: block;
				margin-top: 15px;
			}
			.edit-error {
				display: inline-block;
			    margin: 15px 0;
			    padding: 5px 0;
			    text-transform: uppercase;
    			font-weight: 700;
			}
		}

	}

}


.new-cato-cont {
	padding: 25px;
	border-top: 2px solid $yellow;
	h2 {
		margin-bottom: 10px;
		font-family: $fatcat;
		font-size: $bigsize;
		color: $yellow;
	}
	p {
		margin: 5px 0;
		font-size: $regsize;
		color: $yellow;
		font-weight: 300;
	}
	.new-cato-form {
		margin-top: 15px;
		li {
			.new-label {
				display: inline-block;
				margin-bottom: 5px;
				font-family: $oswald;
				font-size: $regsize;
				color: $yellow;
				text-transform: uppercase;
			}
			input,
			textarea {
				margin-bottom: 15px;
				padding: 5px;
				display: block;
				width: 320px;
				background-color: transparent;
				color: $yellow;
				font-size: $regsize;
				font-family: $oswald;
				outline-color: $yellow;
				border: 2px solid $yellow;
			}
			.btn {
				display: inline-block;
				margin-top: 15px;
			}
			.output {
				margin: 15px 0;
			}
			.new-error {
				display: inline-block;
				margin: 0 0 15px;
				padding: 5px 0;
				background-color: $yellow;
				color: $magenta;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}


/* =====================
   6.0 Responsive
   ===================== */

@media (max-width: 767px) {
	
	html {
		font-size: 14px;
	}

	.catos-list {
		margin: 25px  -15px;
		.cato-container {
			display: block;
			padding: 15px;
			.info-container {
				margin: 10px 0 0;
			}
		}
	}	

	.new-cato-cont {
		padding: 15px 0;
	} 


}
